main {
    width: 100%;
    font-size: 30px;
}

.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.presentacion-marcas {
    margin-top: 30px;

}

.marcas {
    width: 70vw;
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
}

.marcas img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.sobre-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 100, 100);
    border-radius: 50px;
    width: 100%;
    color: white;
}

.descripcion {
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.detalles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.texto-detalles {
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.detalles img {
    margin: 10px;
    width: 450px;
    height: 400px;
    border-radius: 25px;
}

.minitexto {
    font-size: 8px;
}

footer {
    margin-top: 50px;
    height: 150px;
    background-color: rgb(100, 100, 100);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}